@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-background: #FFF9E6;
  --color-foreground: #ffffff;
  --color-primary: #1e293b;
}

.dark {
  --color-background: #020617;
  --color-foreground: #ffffff;
}